*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
  }


.navbar{
    /* border: 2px solid red; */
    display: flex;
   background-color: black;
}
/* ye neeche wale ko krne se header aur section k beech m white space tha vo khatm ho gya.  */
/* .navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
} */


.logo{
    /* border: 3px solid blue; */
    width: 15%;
}
.navbar a{
    text-decoration: none;

}
.navbar h1{
    font-size: 2.5rem;
    color: white;
    width: 15%;
    padding: 10px;
    margin: 18px;
    font-weight: bold;
}
.navbar_menu{
    /* border: 2px solid black; */
    display: flex;
    width: 60%;
}
.nav_navbar{
    /* border: 2px solid greenyellow; */
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav_navbar a{
    text-decoration: none;
    font-size: 1.7rem;
    padding: 10px;
    margin: 10px;
    color: white;    
} 
.nav_navbar a:hover{
    color: rgb(230, 9, 127);
}
.navbar_menu .cart img{
    filter:invert(100%);
    height: 74px;
}

.search{
    /* border: 2px solid greenyellow; */
    display: flex;
    width: 30%;
    list-style: none;
    justify-content: center;
    align-items: center; 
}
.search input{
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.7rem;
    height: 36px;
    
}
.search textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}

.fa_user{
    display: flex;
    width: 10%;
    list-style: none;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin: 9px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: pointer;

}


/* Shop Drop Down */
li  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 10px 10px; */
    text-decoration: none;
  }
  
  /* li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
   */
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* .dropdown-content a:hover {background-color: #f1f1f1;} */
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* Section  */

.home_banner_area {
    background: url('bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 600px;
   
}

.home_banner_area h1{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding: 7px;
    margin: 5px;  
    font-weight: bold;
    
}
.home_banner_area h2{
    color: white;
    font-size: 6rem ;
    padding: 4px;
    margin: 5px;
}
.home_banner_area p{
    color: white;
    font-size: 1.8rem;
    padding: 7px;
    margin: 5px;
    text-justify: auto;
    word-spacing: 3px;  
    /* line-height: 40px; */
    margin: 15px 10px;
    font-weight: 300;
    margin-bottom: 35px;
    /* position: relative;
    top: 100px;
    opacity: 1; */
}
.home_banner_area div{
    /* border: 2px solid white; */
    box-sizing: border-box;
    width: 43%;
    height: 45%;
    position: relative;
    font-weight: 300;
    left: 80px;
    top: 140px;
    opacity: 1;
}
/* .home_banner_area a{
    padding: 13px 30px;
    border: 1px solid white;
    color: white;
    margin: 30px auto;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;  
    text-align: center;
    
} */

.home_banner_area .site_btn{
    border: 1px solid white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    min-width: 167px;
    padding: 18px 47px 14px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    /* background: #f51167; */
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}


/* Site Details */
.site-details{
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}
.site-details p{
    width: 80%;
    padding: 5px 5px;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.site-details .item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid gainsboro;
    padding: 5px 5px;
    width: 24%;
    margin: 5px 5px;    

}
.site-details .item h3{
    padding: 3px 3px;
    margin: 3px auto;
    font-size: 1.6rem;
    
}
.site-details .item img{
    height: 3rem;
    padding: 2px 2px;
    align-content: center;
    margin: 10px auto;
}


/* feature_product */

#feature_product h1{
    margin-top: 70px;
    text-align: center;
    font-size: 3rem;
}
.feature_product{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.feature_product img{
    height: 30rem;
    width: 20rem;
}

.feature_product .item{
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 100%; */
    padding: 10px 10px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.feature_product .details{
    display: flex;
    /* border: 2px solid brown; */
    margin: 5px 5px;
    padding: 5px;
}
.feature_product .details h2{
    /* border: 2px solid cyan; */
    width: 70%;
    display: inline-block;
    color: rgb(36, 35, 35);
    font-weight: unset;
    font-size: 1.3rem;
}
.feature_product .details h3{
    /* border: 2px solid blue; */
    float: right;
    color: black;
    font-size: 1.6rem;
    
}

/* Deal of the day */
.deal{
    /* border: 2px solid red; */
    margin-top: 50px;
    height: 38rem;
    /* background: url('/img/bg2.jpg') no-repeat center center/cover; */
    width: 100%;
    background-color: rgb(245 237 234);
    
}
.deal h1{
    padding: 12px 10px;
    text-align: center;
    color: black;
    font-size: 4rem;
}
#deal_box{
    /* border: 2px solid greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 20px;
}

.deal_item{
    /* border: 2px solid white; */
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
   
}
.deal_item img{
    height: 30rem;
    margin: 10px 30px;
}
.deal_item h2{
    margin-top: 14rem;
    font-size: 3rem;
}
.deal_item h3{
    font-size: 2rem;
    /* text-align: center; */
    margin: 10px;
}
.endtime{
  width: 40%;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 0px;
}
.endtime h3{
    font-size: 5rem;
    text-align: center;
    margin: 20px 20px;
}



/* footer */
footer{
    /* border: 2px solid red; */
    background: black;
    color: white;
    /* height: 30rem; */
    /* display: flex;
    flex-direction: column; */
}

footer .com_details{
    /* border: 2px solid gold; */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* height: 15rem; */
}

footer .com_details div{
    /* border: 2px solid white; */
    margin: 19px 140px;
}
.com_details .about,.det{
    text-align: center;    
}
footer h1{
    font-size: 2rem;
    font-weight: normal;
    margin: 10px;
}
footer p{
    font-size: 1.3rem;
}
footer .det{
    display: flex;
    flex-direction: column;
    text-align: left;
}
footer li{
    font-size: 1.3rem;
}
footer .copyright{
    /* border:2px solid rgb(12, 174, 238); */
    margin: 20px 4px;
    text-align: center;
    justify-content: center;
    height: 3.5rem;
}


.heart {
    background-color: white;
    display: inline-block;
    height: 15px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 15px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    width: 15px;
  }
  
  .heart:before {
    top: -8px;
    left: 0;
  }
  
  .heart:after {
    left: 8px;
    top: 0;
  }





 